<div class='container'>
  <table class="mainTable">
      <caption>Customer Details</caption>
    <thead>
      <th class="col-sm-3">Name</th>
      <th class="col-sm-3">Region</th>
      <th class="col-sm-3">Rating</th>
      <th class="col-sm-3">Opportunities</th>
    </thead>
    <tbody>
        <tr *ngFor='let c of data.customers'>
            <td class="col-sm-3">{{c.name}}</td>            
            <td class="col-sm-3">
              <div *ngFor="let r of data.regions">
                  <div *ngIf="c.regionCode == r.code">{{r.title}}</div>
              </div>              
            </td>
            <td class="col-sm-3" >{{c.rating}}</td>
            <td class="col-sm-3">             
                <div *ngFor="let o of c.opportunities">
                  <div>{{o.name}}</div>
                </div>             
            </td>
        </tr>
    </tbody>
  </table>
</div>

